on:
  push:
    branches:
      - master # Cambiar por la rama principal en tu proyecto

name: deploy

jobs:
  deploy:
    name: deploy to cluster
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Deploy to Railway
        run: |
          curl -X POST \
            -H "Content-Type: application/json" \
            -H "Authorization: Bearer ${{ secrets.RAILWAY_API_TOKEN }}" \
            -d '{"projectId": "cfb9cc1d-7642-45ff-8e1a-1e7edd3f16b1", "services": ["nodejs-mysql-restapi"]}' \
            https://cloud.railway.app/v1/services/deploy
